.questionText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.title h4,
.title h2,
.title > button {
  margin: 0;
  color: #76413d !important;
}
.title button {
  width: 40px !important;
  height: 40px;
  padding: 0 !important;
  margin-bottom: 20px;
  background-color: transparent !important;
  border: 1px solid #5d5d5d !important;
  border-radius: 50% !important;
}
.title button:hover {
  background-color: #5d5d5d;
}

.binary {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.binary button {
  background-color: #5d5d5d;
}

.scale {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
}

.scale > button {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50px !important;
}

.buttonWrap {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 200px;
}

.auxiliaryText {
  display: flex;
  justify-content: space-between;
  color:#76413d;
  font-size: 12px;
}
