.backWidth{
  display: flex;
  justify-content: center;
  max-width: 1000px;
}

.backWidth > div{
  width: 400px;
  /* background-color: #fff; */
}

.title>h2{
  color:#76413D;
}

.backWidth button{
  width: 100%;
  padding: 12px 20px;
  color:#fff;
  background-color: #E3271E;
  border: none;
  border-radius: 50px;
}
