.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 120px);
  height: 100%;
}
.page > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: calc(100% - 48px);
  padding: 40px 24px;
  color: #e3271e;
  border-radius: 12px;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  background-color: #FEBD52;
  border-radius: 50px;
}
.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.name h2 {
  margin: 0;
  font-weight: 800;
}
.name p {
  width: 100%;
  padding-top: 12px;
  margin: 0;
  margin-top: 12px;
  color: #E3271E;
  font-size: 12px;
  font-weight: 600;
  border-top: 1px solid #E3271E;
}

.link {
  display: flex;
  gap: 12px;
  margin-top: 24px;
}
.link a {
  padding: 12px 30px;
  color: #fff;
  border-radius: 8px;
  background-color: #E3271E;
}
.link a:hover {
  padding: 12px 30px;
  border-radius: 8px;
  background-color: #c82119;
}
.skillBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
}
.chip {
  padding: 8px 12px;
  color:#76413D;
  font-size: 12px;
  border-radius: 50px;
  border: 1px solid #76413D;
  /* background-color: #ededed; */
}
.skillWrap > h4 {
  margin-top: 20px;
  margin-bottom: 0;
  /* padding-bottom: 8px; */
  color: #76413D;
  text-align: center;
  /* border-bottom: 1px solid #76413D; */
}
