.childrenWrap {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100vw;
  padding: 0;
  margin: 0;
  padding: 24px;
  /* background: linear-gradient(180deg, #484848, #000000); */
  background: #FCEFC9;
  box-sizing: border-box;
}
.childrenWrap::selection {
  /* background: rgba(160, 96, 220, 0.38); */
  background: #FCEFC9;
  color: #E3271E;
}

.childrenWrap a {
  /* padding: 8px 0; */
  color: #FCEFC9;
  font-size: 12px;
  font-weight: 800;
  text-decoration: none;
  border: none;
}

.maxWidth{
  width: 100%;
  max-width: 1000px;
  margin-top: 80px;
  color:#fff;
}

.appTop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12px 24px;
  background-color:#E3271E;
  box-sizing: border-box;
}
.appTop > a > svg{
  width: 40px;
  height: 100%;
}
.appTop > div {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 8px 0;
  max-width: 1000px;
}
.appTop > div > button {
  padding: 0;
  background-color: transparent;
}

/* 색상 스타일 */
.primary {
  background-color: #3b82f6; /* blue-500 */
  color: white;
}
.primary:hover {
  background-color: #2563eb; /* blue-600 */
}

.secondary {
  background-color: #d1d5db; /* gray-300 */
  color: black;
}
.secondary:hover {
  background-color: #9ca3af; /* gray-400 */
}

.danger {
  background-color: #ef4444; /* red-500 */
  color: white;
}
.danger:hover {
  background-color: #dc2626; /* red-600 */
}
