.page {
  min-height: 100vh;
}
.scriptionWrap p {
  margin: 0;
}
.description {
  display: flex;
  gap: 24px;
  width: 100%;
  margin-top: 40px;
}
.description:nth-of-type(1) {
  margin-top: 0;
}
.description > p {
  min-width: 100px;
  max-width: 100px;
}
@media (max-width: 768px) {
  .description {
    flex-direction: column;
    gap: 12px;
  }

  .description > p {
    min-width: auto;
    max-width: none;
  }
}

.description > div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.description > div > div {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.thumbnail {
  display: flex;
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  overflow: hidden;
}
.thumbnail > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description p {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
}
.description > p {
  color: #8d8d8d;
  font-size: 14px;
  line-height: 22px;
  font-weight: 800;
}
.description > div > p {
  font-size: 14px;
  line-height: 22px;
}

.preview {
  width: 100%;
  max-width: 440px;
  height: 600px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}
.preview iframe {
  width: 100%;
  height: 100%;
  border: none;
}
